/* screen - frame3-home-microphone */

.frame3-home-microphone {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  overflow: hidden;
  width: 1440px;
}

.frame3-home-microphone .overlap-group {
  height: 1024px;
  position: relative;
  width: 1457px;
}

.frame3-home-microphone .blue-hex-1 {
  height: 1024px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.frame3-home-microphone .recordings {
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 178px;
  width: 274px;
}

.frame3-home-microphone .files {
  left: 1066px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 742px;
  width: 226px;
}

.frame3-home-microphone .schedule {
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 726px;
  width: 226px;
}

.frame3-home-microphone .reminders {
  left: 1057px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 178px;
  width: 297px;
}

.frame3-home-microphone .d1-grey-out {
  align-items: center;
  background-color: var(--log-cabin-2);
  border: 1px none;
  border-radius: 36px 0px 0px 0px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 334px;
  height: 1024px;
  left: 17px;
  overflow: hidden;
  padding: 44px 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.frame3-home-microphone .mic-1 {
  height: 72px;
  margin-top: 404px;
  object-fit: cover;
  width: 76px;
}

.frame3-home-microphone .hello-msg {
  letter-spacing: 0;
  line-height: normal;
  min-height: 126px;
  text-align: center;
  width: 1440px;
}
