/* screen - frame-6-schedule */

.frame-6-schedule {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  min-width: 1440px;
}

.frame-6-schedule .overlap-group1 {
  border-radius: 29px;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.frame-6-schedule .frame-6schedule {
  align-items: flex-start;
  background-color: var(--log-cabin);
  border: 1px none;
  border-radius: 29px;
  display: flex;
  height: 1024px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1440px;
}

.frame-6-schedule .overlap-group {
  background-image: url(../img/bluehex-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.frame-6-schedule .rectangle-1 {
  background-color: var(--alto);
  border: 1px none;
  border-radius: 30px;
  height: 953px;
  left: 56px;
  position: absolute;
  top: 36px;
  width: 1327px;
}

.frame-6-schedule .recordings {
  -webkit-text-stroke: 2px var(--log-cabin);
  left: 409px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 36px;
  width: 591px;
}

.frame-6-schedule .arrow-circle {
  background-color: var(--alto);
  border: 4px solid;
  border-color: var(--azure-radiance);
  border-radius: 33.5px/30px;
  cursor: pointer;
  height: 60px;
  left: 73px;
  position: absolute;
  top: 44px;
  width: 67px;
}

.frame-6-schedule .arrow-1 {
  height: 37px;
  left: 86px;
  position: absolute;
  top: 55px;
  width: 40px;
}

.frame-6-schedule .rectangle-14 {
  background-color: var(--azure-radiance);
  border: 1px none;
  height: 49px;
  left: 56px;
  position: absolute;
  top: 167px;
  width: 1327px;
}

.frame-6-schedule .monday {
  -webkit-text-stroke: 1px var(--black);
  left: 58px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 193px;
}

.frame-6-schedule .tuesday {
  -webkit-text-stroke: 1px var(--black);
  left: 251px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 193px;
}

.frame-6-schedule .wednesday {
  -webkit-text-stroke: 1px var(--black);
  left: 444px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 193px;
}

.frame-6-schedule .thursday {
  -webkit-text-stroke: 1px var(--black);
  left: 659px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 193px;
}

.frame-6-schedule .friday {
  -webkit-text-stroke: 1px var(--black);
  left: 852px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 193px;
}

.frame-6-schedule .saturday {
  -webkit-text-stroke: 1px var(--black);
  left: 1045px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 193px;
}

.frame-6-schedule .sunday {
  -webkit-text-stroke: 1px var(--black);
  left: 1189px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 172px;
  width: 193px;
}

.frame-6-schedule .x9-am {
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 235px;
  width: 50px;
}

.frame-6-schedule .x10-am {
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 315px;
  width: 50px;
}

.frame-6-schedule .x11-am {
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 395px;
  width: 50px;
}

.frame-6-schedule .x12n {
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 484px;
  width: 50px;
}

.frame-6-schedule .x1-pm {
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 564px;
  width: 50px;
}

.frame-6-schedule .x2-pm {
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 653px;
  width: 50px;
}

.frame-6-schedule .x3-pm {
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 742px;
  width: 50px;
}

.frame-6-schedule .x4-pm {
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 831px;
  width: 50px;
}

.frame-6-schedule .x5-pm {
  left: 55px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 931px;
  width: 50px;
}

.frame-6-schedule .line-12 {
  height: 5px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 282px;
  width: 1327px;
}

.frame-6-schedule .line-13 {
  height: 5px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 377px;
  width: 1327px;
}

.frame-6-schedule .line-14 {
  height: 5px;
  left: 56px;
  object-fit: cover;
  position: absolute;
  top: 454px;
  width: 1327px;
}

.frame-6-schedule .line-15 {
  height: 5px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 543px;
  width: 1327px;
}

.frame-6-schedule .line-16 {
  height: 5px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 623px;
  width: 1327px;
}

.frame-6-schedule .line-17 {
  height: 5px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 710px;
  width: 1327px;
}

.frame-6-schedule .line-18 {
  height: 5px;
  left: 54px;
  object-fit: cover;
  position: absolute;
  top: 803px;
  width: 1327px;
}

.frame-6-schedule .line-19 {
  height: 5px;
  left: 59px;
  object-fit: cover;
  position: absolute;
  top: 898px;
  width: 1327px;
}

.frame-6-schedule .line-20 {
  height: 822px;
  left: 244px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 5px;
}

.frame-6-schedule .line-26 {
  height: 782px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 214px;
  width: 3px;
}

.frame-6-schedule .line-21 {
  height: 822px;
  left: 441px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 5px;
}

.frame-6-schedule .line-22 {
  height: 822px;
  left: 647px;
  object-fit: cover;
  position: absolute;
  top: 167px;
  width: 5px;
}

.frame-6-schedule .line-23 {
  height: 822px;
  left: 849px;
  object-fit: cover;
  position: absolute;
  top: 172px;
  width: 5px;
}

.frame-6-schedule .line-24 {
  height: 822px;
  left: 1042px;
  object-fit: cover;
  position: absolute;
  top: 174px;
  width: 5px;
}

.frame-6-schedule .line-25 {
  height: 822px;
  left: 1216px;
  object-fit: cover;
  position: absolute;
  top: 168px;
  width: 5px;
}

.frame-6-schedule .cs-401-01-70520-clas {
  left: 256px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 223px;
  width: 184px;
}

.frame-6-schedule .cs-384-01-70756-clas {
  left: 859px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 920px;
  width: 184px;
}

.frame-6-schedule .cs-384-01-70756-clas-1 {
  left: 431px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 922px;
  width: 184px;
}

.frame-6-schedule .cs-384-01-70756-clas-2 {
  left: 72px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 920px;
  width: 184px;
}

.frame-6-schedule .cs-381-01-72064-online-400-pm-pm-tba {
  left: 853px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 835px;
  width: 184px;
}

.frame-6-schedule .cs-381-01-72064-online-400-pm-pm-tba-1 {
  left: 445px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 839px;
  width: 184px;
}

.frame-6-schedule .cs-381-01-72064-online-400-pm-pm-tba-2 {
  left: 85px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 837px;
  width: 184px;
}

.frame-6-schedule .mth-237-02-70407-cla {
  left: 647px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 644px;
  width: 184px;
}

.frame-6-schedule .mth-237-02-70407-cla-1 {
  left: 244px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 652px;
  width: 184px;
}

.frame-6-schedule .cs-425-01-70521-clas {
  left: 849px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 395px;
  width: 184px;
}

.frame-6-schedule .cs-425-01-70521-clas-1 {
  left: 454px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 395px;
  width: 184px;
}

.frame-6-schedule .cs-425-01-70521-clas-2 {
  left: 85px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 391px;
  width: 184px;
}

.frame-6-schedule .cs-401-01-70520-clas-1 {
  left: 659px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 224px;
  width: 184px;
}

.frame-6-schedule .line-9 {
  height: 37px;
  left: 1314px;
  position: absolute;
  top: 61px;
  width: 3px;
}

.frame-6-schedule .line-10 {
  height: 3px;
  left: 1296px;
  position: absolute;
  top: 76px;
  width: 37px;
}

.frame-6-schedule .ellipse-4 {
  border: 4px solid;
  border-color: var(--azure-radiance);
  border-radius: 26px/23.5px;
  height: 47px;
  left: 1289px;
  position: absolute;
  top: 57px;
  width: 52px;
}

.frame-6-schedule .add {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: 25px;
  font-weight: 700;
  left: 1269px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 103px;
  width: 94px;
}
