/* screen - frame2-home-allapps */

.frame2-home-allapps {
  align-items: flex-start;
  background-color: var(--white);
  border: 1px none;
  display: flex;
  width: 1440px;
}

.frame2-home-allapps .overlap-group1 {
  background-image: url(../img/bluehex-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.frame2-home-allapps .ellipse-2 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--white);
  border-radius: 130px;
  display: flex;
  height: 267px;
  left: 584px;
  min-width: 272px;
  position: absolute;
  top: 351px;
}

.frame2-home-allapps .overlap-group {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 135px/132.5px;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 265px;
  min-width: 270px;
  padding: 96px 97px;
}

.frame2-home-allapps .mic-1 {
  height: 72px;
  object-fit: cover;
  width: 76px;
}

.frame2-home-allapps .recordings {
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 178px;
  width: 294px;
}

.frame2-home-allapps .files {
  left: 1066px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 742px;
  width: 226px;
}

.frame2-home-allapps .schedule {
  left: 185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 726px;
  width: 226px;
}

.frame2-home-allapps .reminders {
  left: 1057px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 178px;
  width: 291px;
}

.frame2-home-allapps .d1-grey-out {
  align-items: flex-start;
  background-color: var(--log-cabin-2);
  border: 1px none;
  border-radius: 36px 0px 0px 0px;
  cursor: pointer;
  display: flex;
  height: 1024px;
  left: 0;
  overflow: hidden;
  padding: 266px 486px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.frame2-home-allapps .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 31px;
  margin-left: 6px;
  margin-top: 75px;
  min-height: 171px;
  width: 117px;
}

.frame2-home-allapps .pngfind-1 {
  align-self: flex-end;
  cursor: pointer;
  height: 67px;
  object-fit: cover;
  width: 72px;
}

.frame2-home-allapps .popular-zoom-icon-in {
  cursor: pointer;
  height: 73px;
  object-fit: cover;
  width: 65px;
}

.frame2-home-allapps .clipart356735-1 {
  cursor: pointer;
  height: 70px;
  margin-left: 72px;
  object-fit: cover;
  width: 68px;
}

.frame2-home-allapps .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 38px;
  margin-left: 88px;
  margin-top: 75px;
  min-height: 171px;
  width: 117px;
}

.frame2-home-allapps .blackboard-app_-tile_-square-1 {
  cursor: pointer;
  height: 62px;
  object-fit: cover;
  width: 66px;
}

.frame2-home-allapps .kisspng-file-manager {
  align-self: flex-end;
  cursor: pointer;
  height: 71px;
  object-fit: cover;
  width: 84px;
}
